@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Travel</h1>
    <p>For the moment, we only can show you our inventory, please be patient while we working to be better for you</a>.</p>
</div>
